/* Estilos para a página de registro */
body {
    font-family: Arial, sans-serif;
    background-color: #c70b0b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(./web-2592005_1280\ 1.png) no-repeat center center/cover;
}

.container {
    background-color: #737373ef;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-container {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-group input {
    width: auto;
    margin-right: 10px;
}

.checkbox-group label {
    margin-bottom: 0;
    color: #fff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #838383;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000;
}

p {
    color: #fff;
    margin-top: 20px;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}